body {
    font-family: 'Maven Pro', sans-serif;
}

h1 {
    font-size: 30pt;
}

p {
    font-size: 16pt;
    font-weight: bold;
}


.navbar {
    background-color: #4DA950;
}

.navbar-brand {
    padding-left: 2cm;
}
.navbar-light .navbar-nav .active>.nav-link,
.nav-link {
    margin-left: .5cm;
    margin-right: 1cm;
    font-size: 20pt;
    color: white;
}
.nav-item {
    padding-left: 2cm;
}

.form-control {
    color: #167AF6;
}
.btn-outline-success {
    color: #4DA950;
    border-color: white;
    background-color: white;
}
.btn-outline-success:hover,
.btn-outline-success:focus {
    color: white;
    border-color: white;
    background-color: #167AF6;
    border: none;
}

.jumbotron {
    /* border: 2px solid #4DA950; */
    background: url(../img/students-recycling.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 85%;
    color: #167AF6;
    font-weight: bold;
    background-position-y: -2.5cm;
}

.textbox {
    background-color: white;
    opacity: .6;
    padding: 0;
    width: 45%;
    margin-top: 8cm;
    margin-left:2cm;
    border-radius: 8px;
}

.jumbo-buttons {
    /* margin: 0 auto; */
}
.btn-primary {
    background-color: #4DA950;
    border: none;
}

.btn-lg {
    margin: 1cm;
}

.row1 {
    /* padding: 0;
margin: 0 auto; */
}

.evergreen {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:.5cm; */
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:20pt;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-weight: bolder;
    font-size:20pt;

.row2 {
    /* margin: 0 auto;
    border: 2px solid #4DA950;
    border-radius: 6px;
    margin: .5cm;
    padding:1cm;  */
}

.geti {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:1cm;     */
}
.row3 {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:1cm;  */
}
.partners {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm; */
    /* padding:1cm; */
    position: relative;
    text-align: center;
  
   
}

.container {
    /* border: 2px solid #4DA950;
    border-radius: 6px;
    margin: .5cm;
    padding:1cm;  */
    margin-top: .5cm;
}
