body {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 30pt;
}
h2 {
    font-size: 30pt;
}
h3 {
    font-size: 30pt;
}
h4 {
    font-size: 30pt;
}

p {
    font-size: 16pt;
    /* font-weight: bold; */
}


.navbar {
    background-color:;
}

.navbar-brand {
    padding-left: 2cm;
}
.navbar-light .navbar-nav .active>.nav-link,
.nav-link {
    margin-left: .5cm;
    margin-right: 1cm;
    font-size: 20pt;
    color: white;
}
.nav-item {
    padding-left: 2cm;
}

.form-control {
    color: #167AF6;
}
.btn-outline-success {
    color: #4DA950;
    border-color: white;
    background-color: white;
}
.btn-outline-success:hover,
.btn-outline-success:focus {
    color: white;
    border-color: white;
    background-color: #167AF6;
    border: none;
}

/* .jumbotron {
    /* border: 2px solid #4DA950; */
    background: url(../img/students-recycling.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 85%;
    color: #167AF6;
    font-weight: bold;
    background-position-y: -2.5cm;
} */

.textbox {
    /* background-color: white;
    opacity: .6;
    padding: 0;
    width: 45%;
    margin-top: 8cm;
    margin-left:2cm;
    border-radius: 8px; */
}

.jumbo-buttons {
    /* margin: 0 auto; */
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;

.btn-primary {
    background-color: #4DA950;
    border: none;
}

.btn-lg {
    margin: 1cm;
}

.row1 {
    /* padding: 0;
margin: 0 auto; */
}

.evergreen {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:.5cm; */
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:20pt;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-weight: bolder;
    font-size:20pt;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.row2 {
    /* margin: 0 auto;
    border: 2px solid #4DA950;
    border-radius: 6px;
    margin: .5cm;
    padding:1cm;  */
}

.geti {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:1cm;     */
}
.row3 {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm;
    padding:1cm;  */
}
.partners {
    /* border: 2px solid #4DA950;
    border-radius: 6px; */
    /* margin: .5cm; */
    /* padding:1cm; */
    position: relative;
    text-align: center;
}

.container {
    /* border: 2px solid #4DA950;
    border-radius: 6px;
    margin: .5cm;
    padding:1cm;  */
    margin-top: .5cm;
}
